* {
  border: none;
  border-radius: 0px;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 14px;
  min-height: 10px;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  margin-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: transparent;
  background: transparent;
}

@keyframes blink {
  to {
    background-color: #bf616a;
    color: #b5e8e0;
  }
}

#memory,
#cpu,
#clock,
#custom-date,
#backlight,
#battery,
#network,
#pulseaudio {
  margin-top: 12px;
  margin-left: 12px;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 8px;
  transition: background-color 0.2s ease;
  color: #161320;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

#memory:hover,
#cpu:hover,
#clock:hover,
#custom-date:hover,
#backlight:hover,
#battery:hover,
#network:hover,
#pulseaudio:hover {
  background: rgba(79, 111, 136, 0.7);
}

#battery {
  margin-right: 12px;
}

#tray {
  background: transparent;
  margin-top: 12px;
  margin-left: 12px;
}

#workspaces {
  margin-top: 12px;
  margin-left: 12px;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 8px;
  transition: background-color 0.2s ease;
  color: #161320;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.4);
  font-weight: bold;
  font-size: 14px;
}

#workspaces button {
  padding: 2px 6px;
  margin: 0 4px;
  border-radius: 6px;
  background: transparent;
  color: #161320;
  transition: background-color 0.3s ease;
  border: none;
}

#workspaces button.active {
  background: rgba(255, 255, 255, 0.9);
  color: #161320;
}

#workspaces button:hover {
  background: rgba(79, 111, 136, 0.5);
}
